@using YourMotivation.Web.Models.AdminViewModels;
@using ORM.Models;

@model AdminUserViewModel
@{
  ViewBag.Title = Localizer["Manage"];

  var roleItems = RoleNames.GetAllRoles()
    .Select(role => new SelectListItem { Value = role, Text = role })
    .ToList();
}

<h2>@Localizer["User details"]:</h2>
<hr />

@Html.Partial("_StatusMessage",  Model.StatusMessage)

<div>
  <dl class="dl-horizontal">
    <dt>
      @Html.DisplayNameFor(model => model.Username)
    </dt>
    <dd>
      @Html.DisplayFor(model => model.Username)
    </dd>
    <dt>
      @Html.DisplayNameFor(model => model.Email)
    </dt>
    <dd>
      @Html.DisplayFor(model => model.Email)
    </dd>
    <dt>
      @Html.DisplayNameFor(model => model.EmailConfirmed)
    </dt>
    <dd>
      @Html.DisplayFor(model => model.EmailConfirmed)
    </dd>
    <dt>
      @Html.DisplayNameFor(model => model.Role)
    </dt>
    <dd>
      @Html.DisplayFor(model => model.Role)
    </dd>
    <dt>
      @Html.DisplayNameFor(model => model.CreatedDate)
    </dt>
    <dd>
      @Html.DisplayFor(model => model.CreatedDate)
    </dd>
    <dt>
      @Html.DisplayNameFor(model => model.PhoneNumber)
    </dt>
    <dd>
      @Html.DisplayFor(model => model.PhoneNumber)
    </dd>
  </dl>
  <hr />

  <form asp-action="SetRole">
    <input type="hidden" asp-for="Id" />
    <dl class="dl-horizontal">
      <dt>
        <label asp-for="@Model.Role">@Localizer["Role"]:</label>
        <select name="newRole" asp-for="@Model.Role" asp-items="roleItems"></select>
      </dt>
      <dd>
        <input type="submit" value="@Localizer["Save new role"]" class="btn btn-warning" />
      </dd>
    </dl>
  </form>

  <form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <dl class="dl-horizontal">
      <dt>
        <a asp-action="Users" class="btn btn-info">@Localizer["Back to List"]</a>
      </dt>
      <dd>
        <input type="submit" value="@Localizer["Delete"]" class="btn btn-danger" />
      </dd>
    </dl>
  </form>
</div>
