@using YourMotivation.Web.Models.Pagination;
@using YourMotivation.Web.Models.Pagination.Pages;

@addTagHelper "*, YourMotivation.Web"

@model AdminUsersPageViewModel
@{
  ViewBag.Title = Localizer["All users"];
  ViewData["Title"] = Localizer["All users"];
}

@Html.Partial("_StatusMessage", Model.StatusMessage)

@Html.Partial("_FilterForm", Model.UsernameFilter, ViewData)

<table class="table">
  <thead>
    <tr>
      <th>
        <sort-admin-header action="Users" page-model=@Model column=@SortColumnName.Username>
          @Html.DisplayNameFor(model => model.Default.Username)
        </sort-admin-header>
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Default.Email)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Default.Role)
      </th>
      <th>
        <sort-admin-header action="Users" page-model=@Model column=@SortColumnName.CreatedDate>
          @Html.DisplayNameFor(model => model.Default.CreatedDate)
        </sort-admin-header>
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Default.PhoneNumber)
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model.Records)
    {
      <tr>
        <td>
          @Html.DisplayFor(modelItem => item.Username)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Role)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
          <a asp-action="Manage" asp-route-username="@item.Username">@Localizer["Manage"]</a>
        </td>
      </tr>
    }
  </tbody>
</table>

@Html.Partial("_Pagination", Model)

