@using YourMotivation.Web.Models.Pagination;
@using YourMotivation.Web.Models.Pagination.AdminUsers;

@addTagHelper "*, YourMotivation.Web"

@model AdminUsersPageViewModel
@{
  ViewBag.Title = Localizer["All users"];
}

@Html.Partial("_StatusMessage", Model.StatusMessage)

<form asp-action="Users" method="get">
  <div class="pull-left"><h2>@ViewBag.Title</h2></div>
  <div class="form-inline pull-right username-filter-form">
    <input type="text" placeholder="@Localizer["Find by username"]" class="form-control" name="usernameFilter" value="@Model.UsernameFilter" />
    <button type="submit" class="btn btn-info">
      <i class="glyphicon glyphicon-search"></i>
      @Localizer["Search"]
    </button>
    @if (!string.IsNullOrEmpty(Model.UsernameFilter))
    {
      <a asp-action="Users">@Localizer["Back to full list"]</a>
    }
  </div>
</form>

<table class="table">
  <thead>
    <tr>
      <th>
        <sort-header action="Users" page-model=@Model column=@SortColumnName.Username>
          @Html.DisplayNameFor(model => model.Default.Username)
        </sort-header>
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Default.Email)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Default.Role)
      </th>
      <th>
        <sort-header action="Users" page-model=@Model column=@SortColumnName.CreatedDate>
          @Html.DisplayNameFor(model => model.Default.CreatedDate)
        </sort-header>
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Default.PhoneNumber)
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model.Records)
    {
      <tr>
        <td>
          @Html.DisplayFor(modelItem => item.Username)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Role)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
          <a asp-action="Manage" asp-route-username="@item.Username">@Localizer["Manage"]</a>
        </td>
      </tr>
    }
  </tbody>
</table>

@Html.Partial("_Pagination", Model)

