@using YourMotivation.Web.Models.AdminUsersViewModels;
@model AdminUserViewModel

@{
  ViewBag.Title = Localizer["Delete"];
}

<h2>@Localizer["User details"]:</h2>
<hr />

<div>
  <dl class="dl-horizontal">
    <dt>
      @Html.DisplayNameFor(model => model.Username)
    </dt>
    <dd>
      @Html.DisplayFor(model => model.Username)
    </dd>
    <dt>
      @Html.DisplayNameFor(model => model.Email)
    </dt>
    <dd>
      @Html.DisplayFor(model => model.Email)
    </dd>
    <dt>
      @Html.DisplayNameFor(model => model.EmailConfirmed)
    </dt>
    <dd>
      @Html.DisplayFor(model => model.EmailConfirmed)
    </dd>
    <dt>
      @Html.DisplayNameFor(model => model.Role)
    </dt>
    <dd>
      @Html.DisplayFor(model => model.Role)
    </dd>
    <dt>
      @Html.DisplayNameFor(model => model.CreatedDate)
    </dt>
    <dd>
      @Html.DisplayFor(model => model.CreatedDate)
    </dd>
    <dt>
      @Html.DisplayNameFor(model => model.PhoneNumber)
    </dt>
    <dd>
      @Html.DisplayFor(model => model.PhoneNumber)
    </dd>
  </dl>
  <hr />

  <form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <dl class="dl-horizontal">
      <dt>
        <input type="submit" value="@Localizer["Delete"]" class="btn btn-warning" />
      </dt>
      <dd>
        <a asp-action="All" class="btn btn-info">@Localizer["Back to List"]</a>
      </dd>
    </dl>
  </form>
</div>
