@model string

<form asp-action="Users" method="get">
  <div class="row">
    <div class="pull-left"><h2>@ViewData["Title"]</h2></div>
    <div class="form-inline pull-right username-filter-form">
      <input type="text" placeholder="@Localizer["Find by username"]" class="form-control" name="usernameFilter" value="@Model" />
      <button type="submit" class="btn btn-info">
        <i class="glyphicon glyphicon-search"></i>
        @Localizer["Search"]
      </button>
      @if (!string.IsNullOrEmpty(Model))
      {
        <a asp-action="Users">@Localizer["Back to list"]</a>
      }
    </div>
  </div>
</form>
