@using YourMotivation.Web.Models.ShopViewModels;
@using YourMotivation.Web.Extensions;

@model ShopItemViewModel
@{
  var modalDivId = "#itemDetails" + Model.Id;
  var addToCartDisabled = Model.IsInStock ? string.Empty : "disabled";
}

<div class="col-sm-6 col-md-4">
  <div class="thumbnail">
    <img src="@Url.Action("ItemImage", "Shop", new { itemId = Model.Id })" alt="@Model.Title" class="img-responsive">
    <div class="caption">
      <h4 class="pull-right">
        <span class="glyphicon glyphicon-star"></span>
        &nbsp;@Model.Price&nbsp;
        <span class="glyphicon glyphicon-star"></span>
      </h4>
      <h4 class="text-center">@Model.Title</h4>
      <p class="text-center">@Model.Description.Truncate(Constants.ItemPreviewDescriptionMaxLength)</p>
    </div>
    <div class="space-ten"></div>
    <div class="btn-ground text-center">
      <form asp-controller="Shop" asp-action="AddItemToCart" method="post">
        <input type="hidden" value="@ViewData["CartId"]" name="cartId" />
        <input type="hidden" value="@Model.Id" name="itemId" />
        <button type="submit" class="btn btn-primary @addToCartDisabled">
          @Localizer["Add to cart"]&nbsp;
          <span class="glyphicon glyphicon-shopping-cart"></span>
        </button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="@modalDivId">
          @Localizer["Details"]
        </button>
      </form>
    </div>
    <div class="space-ten"></div>
  </div>
</div>