@using YourMotivation.Web.Models.Pagination.Pages;

@model ShopItemsPageViewModel
@{
  var prevClassDisabled = Model.HasPreviousPage ? string.Empty : "disabled";
  var nextClassDisabled = Model.HasNextPage ? string.Empty : "disabled";
  var controllerName = "Shop";
  var actionName = "All";
}

<div class="row" style="text-align: center;">
  <ul class="pagination">
    <li class="@prevClassDisabled">
      <a asp-controller=@controllerName
         asp-action=@actionName
         asp-route-pageIndex=@(Model.CurrentPage - 1)
         asp-route-titleFilter=@Model.TitleFilter>
        <i class="glyphicon glyphicon-chevron-left"></i>
        @Localizer["Previous"]
      </a>
    </li>
    @foreach (var pageNumber in Enumerable.Range(1, Model.TotalPages))
    {
      string isActive = pageNumber == Model.CurrentPage ? "active" : string.Empty;

      <li class="@isActive">
        <a asp-controller=@controllerName
           asp-action=@actionName
           asp-route-pageIndex=@pageNumber
           asp-route-titleFilter=@Model.TitleFilter>
          @pageNumber
        </a>
      </li>
    }
    <li class="@nextClassDisabled">
      <a asp-controller=@controllerName
         asp-action=@actionName
         asp-route-pageIndex=@(Model.CurrentPage + 1)
         asp-route-titleFilter=@Model.TitleFilter>
        @Localizer["Next"]
        <i class="glyphicon glyphicon-chevron-right"></i>
      </a>
    </li>
  </ul>
</div>
