@using YourMotivation.Web.Models.Pagination.Pages;

@model ShopItemsPageViewModel
@{
  ViewBag.Title = Localizer["All items"];
  ViewData["Title"] = Localizer["All items"];
}

@Html.Partial("_StatusMessage", Model.StatusMessage)

@Html.Partial("_FilterForm", Model.TitleFilter, ViewData)

<div class="container">
  <div class="row">
    @foreach (var item in Model.Records)
    {
      @Html.Partial("_ItemPreview", item)
    }
  </div>
</div>

@foreach (var item in Model.Records)
{
  @Html.Partial("_ItemDetailModal", item)
}

@Html.Partial("_Pagination", Model)
