@using YourMotivation.Web.Models.Pagination.Pages;

@model ShopItemsPageViewModel
@{
  ViewBag.Title = Localizer["All items"];
  ViewData["Title"] = Localizer["All items"];
}

@Html.Partial("_StatusMessage", Model.StatusMessage)

@Html.Partial("_FilterForm", Model.TitleFilter, ViewData)

@foreach (var item in Model.Records)
{
  <div class="row">
    <div class="row horizontal-center">
      <img src="@Url.Action("Image", "Shop", new { itemId = item.Id })"
           width="300" height="300" class="img-rounded" />
    </div>
    <div class="row">
      @Html.DisplayFor(modelItem => item.Title)
      <a asp-action="Details" asp-route-id="@item.Id">@Localizer["Details"]</a>
    </div>
  </div>
}

@Html.Partial("_Pagination", Model)
