@using YourMotivation.Web.Models.CartViewModels;

@model CartViewModel
@{
  ViewBag.Title = Localizer["Cart items"];
  var createNewOrderDisabled = Model.ItemsCount > 0 ? string.Empty : "disabled";
}

<div class="row text-center">
  <h1>@ViewBag.Title</h1>
</div>

@Html.Partial("_StatusMessage", Model.StatusMessage)

<table class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th>
        @Html.DisplayNameFor(model => model.DefaultItem.Title)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.DefaultItem.Description)
      </th>
      <th class="text-center">
        @Html.DisplayNameFor(model => model.DefaultItem.Count)
      </th>
      <th class="text-center">
        @Html.DisplayNameFor(model => model.DefaultItem.Price)
      </th>
      <th class="text-center">
        @Html.DisplayNameFor(model => model.DefaultItem.IsInStock)
      </th>
      <th class="text-center">
        @Html.DisplayNameFor(model => model.DefaultItem.Size)
      </th>
      <th class="text-center">
        @Html.DisplayNameFor(model => model.DefaultItem.Color)
      </th>
      <th class="text-center">
        @Html.DisplayNameFor(model => model.DefaultItem.Model)
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @for (var index = 1; index <= Model.Items.Count; index++)
    {
      var item = Model.Items[index - 1];
      var removeFromCartDisabled = item.Count > 0 ? string.Empty : "disabled";
      <tr>
        <td class="text-center">
          @index
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td class="text-center">
          @Html.DisplayFor(modelItem => item.Count)
        </td>
        <td class="text-center">
          @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td class="text-center" style="font-size: 1.5em">
          @if (item.IsInStock)
          {
            <span class="glyphicon glyphicon-ok-sign text-success"></span>
          }
          else
          {
            <span class="glyphicon glyphicon-minus-sign text-danger"></span>
          }
        </td>
        <td class="text-center">
          @Html.DisplayFor(modelItem => item.Size)
        </td>
        <td class="text-center">
          @Html.DisplayFor(modelItem => item.Color)
        </td>
        <td class="text-center">
          @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td class="text-right">
          <form asp-controller="Shop" asp-action="RemoveItemFromCart" method="post">
            <input type="hidden" value="@Model.Id" name="cartId" />
            <input type="hidden" value="@item.Id" name="itemId" />
            <button type="submit" class="btn btn-sm btn-warning @removeFromCartDisabled">
              <span class="glyphicon glyphicon-remove"></span>
              &nbsp;@Localizer["Remove from cart"]
            </button>
          </form>
        </td>
      </tr>
    }
  </tbody>
</table>

<div class="row">
  <div>
    <div class="pull-right col-sm-3 col-md-2 text-center">
      <form asp-controller="Order" asp-action="Create" method="post">
        <input type="hidden" value="@Model.UserId" name="userId" />
        <button type="submit" class="btn btn-primary @createNewOrderDisabled">
          &nbsp;@Localizer["Order"]&nbsp;
          <span class="glyphicon glyphicon-ok"></span>&nbsp;
        </button>
      </form>
    </div>
    <div class="cart-footer-row pull-right col-sm-6 col-md-4">
      <span class="pull-left">
        &nbsp;<b>@Html.DisplayNameFor(model => model.ItemsSumPrice)</b>:&nbsp;
        @Html.DisplayFor(model => model.ItemsSumPrice)&nbsp;
      </span>
      <span class="pull-right">
        <b>@Html.DisplayNameFor(model => model.ItemsCount)</b>:&nbsp;
        @Html.DisplayFor(model => model.ItemsCount)&nbsp;
      </span>
    </div>
  </div>
</div>
